@import './vendor/reset.scss';

@import './vars.scss';

@font-face {
    font-family: 'MasonChronicles2';
    src: url('../fonts/MasonChronicles2.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MasonChronicles';
    src: url('../fonts/MasonChronicles.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: #fff;

    background: #141218 url(../img/background.jpg) no-repeat top right ;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 95%;
    max-width: 1440px;
    // border: 1px solid red;
    margin: 0 auto;
}

@import './header.scss';
@import './main.scss';
@import './footer.scss';

@import './media';